<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="EparkContext" connectionString="data source=10.22.134.8;initial catalog=EventPark.DAL.EparkContext;MultipleActiveResultSets=True;App=EntityFramework;user id=sa; password=Pa$$w0rd" providerName="System.Data.SqlClient" />
    <add name="EparkContext1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=EventPark.DAL.EparkContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>